<!DOCTYPE html>
<html>
	<head>
		<title>Add a Company</title>
	</head>
	<body>
	{{>/common/navigation-bar}}
	<h1>Add a Company</h1>
	
	<form method="post" action="/admin/companies">
		<input type="text" placeholder="Company Name" name="name" required>
		<button>Add Company</button>
		<input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}">
	</form>
	<br>
	
	<table>
		<thead>
			<th>Company</th>
		</thead>
		<tbody>
			{{#companies}}
			<tr>
				<td>{{name}}</td>
			</tr>
			{{/companies}}
		</tbody>
	</table>
	
	</body>
</html>